<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9 ie-lt10 no-js" lang="pt-br"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pirate Day 2019</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Site oficial do Pirate Day Brasil 2019">
    <meta itemprop="name" content="Site oficial do Pirate Day Brasil 2019. O Maior evento brasileiro de comemoração ao Dia do Pirata (Talk Like a Pirate Day)" />
    <meta itemprop="description" content="Site oficial do Pirate Day Brasil 2019. O Maior evento brasileiro de comemoração ao Dia do Pirata (Talk Like a Pirate Day)" />
    <meta itemprop="url" content="http://www.pirateday.com.br/" />
    <meta itemprop="image" content="" />

    <meta property="og:title" content="Site oficial do Pirate Day Brasil 2019" />
    <meta property="og:description" content="Site oficial do Pirate Day Brasil 2019. O Maior evento brasileiro de comemoração ao Dia do Pirata (Talk Like a Pirate Day)" />
    <meta property="og:url" content="http://www.pirateday.com.br/" />
    <meta property="og:image" content="" />

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= BASE_URL %>apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= BASE_URL %>apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= BASE_URL %>apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= BASE_URL %>apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= BASE_URL %>favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="<%= BASE_URL %>favicon.ico" />

    <script>
        // Analytics
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52636915-4', 'auto');
        ga('send', 'pageview');
    </script>

    <style>
        body {
            width: 100vw;
            height: calc(100vh + 25px);
            background: #000000;
            margin: 0;
            padding: 0;
            overflow: hidden;
            position: absolute;
            top: -25px;
        }
        iframe {
            width: 100vw;
            height: calc(100vh + 25px);
            border: 0;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body id="cat">
    <iframe src="http://orteil.dashnet.org/igm/?g=http://www.pirateday.com.br/dd642a95aca86486d1cddfcbfdb7013e/cb30b8998a564995761e078aa49e81df.txt" frameborder="0"></iframe>
</body>

</html>