<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="pt-br"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9 ie-lt10 no-js" lang="pt-br"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pirate Day 2019</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Site oficial do Pirate Day Brasil 2019">
    <meta itemprop="name" content="Site oficial do Pirate Day Brasil 2019. O Maior evento brasileiro de comemoração ao Dia do Pirata (Talk Like a Pirate Day)" />
    <meta itemprop="description" content="Site oficial do Pirate Day Brasil 2019. O Maior evento brasileiro de comemoração ao Dia do Pirata (Talk Like a Pirate Day)" />
    <meta itemprop="url" content="http://www.pirateday.com.br/" />
    <meta itemprop="image" content="" />

    <meta property="og:title" content="Site oficial do Pirate Day Brasil 2019" />
    <meta property="og:description" content="Site oficial do Pirate Day Brasil 2019. O Maior evento brasileiro de comemoração ao Dia do Pirata (Talk Like a Pirate Day)" />
    <meta property="og:url" content="http://www.pirateday.com.br/" />
    <meta property="og:image" content="" />

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= BASE_URL %>apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= BASE_URL %>apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= BASE_URL %>apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= BASE_URL %>apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= BASE_URL %>apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= BASE_URL %>favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="<%= BASE_URL %>favicon.ico" />

    <script>
        // Analytics
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52636915-4', 'auto');
        ga('send', 'pageview');
    </script>

    <style>
        @import url(https://fonts.googleapis.com/css?family=Gochi+Hand|Eagle+Lake);

        body {
            width: 100vw;
            height: 100vh;
            background: #000000;
            margin: 0;
            padding: 50px 0;
            overflow-x: hidden;
            color: #FFFFFF;
            text-align: center;
            letter-spacing: 1px;
        }
        img {
            display: block;
            margin: 30px auto;
            height: 300px;
        }
        h1, h2, h3, h4, h5, ul {
            font-family: 'Gochi Hand', cursive;
            margin: 0 auto;
            display: block;
            max-width: 900px;
            margin-bottom: 50px;
        }
        h1, a {
            font-family: 'Eagle Lake', cursive;
        }

        a {
            color: #990000;
            text-decoration: none;
            text-transform: uppercase;
        }

        strong {
            text-transform: uppercase;
            color: #FFFFFF;
        }

        a.button {
            display: table;
            margin: 0 auto;
            color: #FFFFFF;
            background: #990000;
            padding: 15px;
            font-size: 30px;
            margin-bottom: 50px;
        }

        ul li {
            text-align: left;
            list-style: none;
            margin-bottom: 15px;
        }
    </style>
</head>

<body id="cat">
    <img src="congrats.gif" alt="">

    <h1>
        Parabéns!
    </h1>

    <h2>
        Você encontrou a Caça ao Tesouro do site do PirateDay 2019
    </h2>

    <h3>
        Desta vez, as coisas vão ser mais fáceis, mais fáceis que ano passado. Tudo que precisa fazer é jogar. Claro, não vamos dar as instruções do jogo, você vai precisar aprender a jogar sozinho.
    </h3>

    <h3>
        Quem conseguir <strong>produzir mais rum (no jogo)</strong> até a meia noite do dia oficial do PirateDay, <strong>19 de Setembro</strong>, vence. Claro, não vamos facilitar tanto, então o vencedor terá de <strong>fundar Libertalia</strong> no jogo. É uma tarefa fácil para quem se empenhar.
    </h3>

    <h4>
        Quando estiver satisfeito com sua produção de rum, siga estes passos:
    </h4>

    <ul>
        <li>
            1. Tire uma Selfie mostrando sua tela;
        </li>>
        <li>
            2. Tire um print de sua tela, com a pontuação visível e sem edições;
        </li>
        <li>
            3. Faça uma postagem no <a href="https://www.facebook.com/groups/PiratasUrbanos">Grupo Piratas!</a> com sua selfie e seu print <strong>(sem edições)</strong>, e adicione na postagem as hashtags <strong>#PirateDay2019</strong> e <strong>#CacaAoTesouro2019</strong>;
        </li>
        <li>
            4. Aguarde a divulgação do vencedor. Você pode aguardar bebendo rum. Só não beba demais, senão não vai conseguir acordar para receber seu prêmio...
        </li>
    </ul>

    <h5>
        E os prêmios? Vão ser revelados no <strong>Grupo Piratas!</strong>, <strong>Página do Pirate Day Brasil</strong> e (talvez) na da <strong>Aliança Pirata</strong>. E para retirar, só no Pirate Day mesmo, na mão dos piratas que organizam a bagaça toda. Só chegar na gente dizendo que venceu, a gente só vai confirmar, não dá pra confiar em ninguém hoje em dia, e daí pode levar seus trecos pra casa.
    </h5>

    <a class="button" href="./16a9fa46907ea2f400f65ab404aa9f9c.html">
        COMEÇAR!
    </a>
</body>

</html>